
body
{
   text-align: center ;
}

@media(min-width: 600px) and (max-width : 300px)
{
   div
   {
      height : 100px ; 
      width : 100px ; 
      border : 2px solid black ; 
      display : inline-block ; 
      background-color : aqua ; 
      
   }
}
